.header {
  background:red;
  height: 50px;
  line-height: 50px;
  position: relative;
}
.header .header__title {
  color: #fff;
  margin-left: 15px;
}
.header .headerButton {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  right: 20px;
  background-image: url("../images/refresh.png");
  background-size: 20px 20px;
  border:none;
}
.main {
  background: #ccc;
  display: block;
}
.main .card {
  padding: 10px 10px 0px 10px;
}
.main .card:last-child {
  padding-bottom: 10px;
}
.main .card img {
  width: 100%;
}
